<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRD Controller</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <a href=""><img src="{% static 'images/logo.jpg' %}" alt="CRDController Logo" class="logo"></a>
            <div class="user-menu">
                {{ user.username }}
                <svg class="user-icon" viewBox="0 0 24 24">
                    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
                </svg>
                <div class="dropdown-content">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_staff %}
                            <a href="{% url 'admin_dashboard' %}">Admin Dashboard</a>
                        {% else %}
                            <a href="{% url 'user_dashboard' %}">User Dashboard</a>
                        {% endif %}
                        <a href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a href="{% url 'user_login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'update' %}">Status & Update</a></li>
                <li><a href="{% url 'debug' %}">Debug</a></li>
                <li><a href="{% url 'view_logs' %}">Logs</a></li>
            </ul>
        </nav>
        <div class="logs-container">
            <h2>Logs</h2>
            {% for topic, message, timestamp in received_messages %}
                <div class="log">
                    <strong>Topic:</strong> {{ topic }}
                    <strong>Message:</strong> {{ message }}
                    <strong>Received at:</strong> {{ timestamp }}
                </div>
            {% endfor %}
            {% for topic, message, timestamp in sent_messages %}
                <div class="log">
                    <strong>Topic:</strong> {{ topic }}
                    <strong>Message:</strong> {{ message }}
                    <strong>Sent at:</strong> {{ timestamp }}
                </div>
            {% endfor %}
        </div>  
    </div>

</body>
</html>
